<launch>
    <param name="joy_node/dev" value="/dev/input/js0"/>
    <node name="joySetup" pkg="joy" type="joy_node"/>
    <node name="modelParamListener" pkg="winter_project" type="modelModule.py"/>
    <node name="trajectoryControl" pkg="winter_project" type="traj_control_v4.py"/>
    <node name="joyStickControl" pkg="winter_project" type="joyControl.py"/>
</launch>
